{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ recipe_object.title }}-Scrumptious recipes
{% endblock title %}
{% block nav %}
    <a href="{% url 'recipe_list' %}">Main Page</a>
    <a href="{% url 'edit_recipe' recipe_object.id %}">Edit</a>
{% endblock nav %}
{% block content %}
    <h1>{{ recipe_object.title }}</h1>
    <img id = "six" src="{{ recipe_object.picture }}">
    <p>
        <h4>Created on: {{ recipe_object.created_on|date:"F jS, Y" }}</h4>
    </p>
    <div>4.3 stars</div>
    <h2>Description</h2>
    <p>{{ recipe_object.description }}</p>
    <h2>Ingredients</h2>
    {% for ingredient in ingredients %}
        <p>{{ ingredient }}</p>
    {% endfor %}
    <h2>Steps</h2>
    {% for step in steps %}
        <p>{{ step }}</p>
    {% endfor %}
{% endblock content %}
