{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ recipe_object.title }}-Scrumptious recipes
{% endblock title %}
{% block nav %}
    <a href="{% url 'recipe_list' %}">Main Page</a>
{% endblock nav %}
{% block content %}
    <h1>Edit {{ recipe_object.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        <button>Save</button>
    </form>
{% endblock content %}
