{% extends "base.html" %}
{% load static %}
{% block title %}
  Scrumptious Recipes
{% endblock title %}
{% block nav %}
  <a id="MainPage" href="{% url 'recipe_list' %}">Main Page</a>
  <a href="{% url 'create_recipe' %}">Create a Recipe</a>
{% endblock nav %}
{% block content %}
  <h1>Scrumptious Recipes</h1>
  <h2>All the food that's fit to eat</h2>
  <div class="recipe-grid">
    {% for recipe in recipe_list %}
      <div>
        <h3>
          <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
        </h3>
        <img id = "four" src="{{ recipe.picture }}">
        <p>{{ recipe.created_on|date:"N dS, Y" }}</p>
        <div>4.3 stars</div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
