@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Oswald&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Flamenco&family=Oswald&family=Satisfy&display=swap');
img{
    width: 250px;
    height: 200px;
    border: 10px;
    padding: 15px;

    }

body{
        margin: 0%;
        padding: 0%;
}

#pics{ display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;


}

footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
}
nav{
    border-bottom: 1px solid black;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

h1 { color: rgb(157, 221, 157);
    font-size: 40px;
    font-family: 'Bad Script', cursive;
}

#MainPage { color:white}

#two{color: greenyellow}

footer{ background-color: rgb(25, 136, 99);
    height: 50px;
    text-align: left;
    padding-top: 20px;
    font-family: 'Satisfy', cursive;
    font-size: 36px;
}

header{background-color: rgb(255, 0, 0);
    font-size: 26px;
}

h2 {
    font-family: 'Flamenco', cursive;
    font-size: 36px;
}

h4 {color: brown;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}

#one:hover{
    box-shadow: 0 2px 4px 4px;
    background-color: brown;

}

#three:hover{
    box-shadow: 0 2px 4px 4px;
    background-color: rgb(248, 148, 17);


}

#four:hover {
    box-shadow: 0 2px 4px 4px;
    background-color: rgb(8, 248, 80);


}

#five:hover{
    box-shadow: 0 2px 4px 4px;
    background-color: rgb(236, 4, 132);


}

#six:hover{
    box-shadow: 0 2px 4px 4px;
    background-color: rgb(107, 16, 224);


}
